{% extends 'base.html' %}

{% block content %}

<h3>{{post.title}}</h3>

<p>{{post.content}}</p>

<p>Tags:
    {% for tag in tags %}
        <button class="btn btn-success">{{tag.name}}</button>
    {% endfor %}
</p>

<p>By {{user.first_name}} {{user.last_name}}</p>


<form>
    <button class="btn btn-secondary" formaction="/users/{{user.id}}" formmethod="GET">Back</button>
    <button class="btn btn-primary" formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>
    <button class="btn btn-danger" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>

</form>

{% endblock %}