{% extends 'base.html' %}

{% block content %}

<h1>Made it to Post edit!</h1>

<!-- placeholder="{{post.title}}" -->

<form>
    <div class="form-group row">
        <label for="title">Title:</label>
        <div class="col-sm-2">
            <input type="text" name="title" value="{{post.title}}" id="title" class="form-control ">
        </div>
    </div>

    <div class="form-group row">
        <label for="content">Content:</label>
        <div>
            <input class="col-sm-6" type="text" name="content" value="{{post.content}}" id="content" class="form-control">
        </div>
    </div>


    
    {% for tag in tags %}
        {% if tag.name in tag_arr%}
            <p><input type="checkbox" value="{{tag.id}}" checked="checked" name="check">{{tag.name}}</p>
        {%else%}
            <p><input type="checkbox" value="{{tag.id}}" name="check">{{tag.name}}</p>
        {% endif%}
    {% endfor %}
    

    <button formaction="/posts/{{post.id}}" formmethod="GET">Cancel</button>
    <button formaction="/posts/{{post.id}}/edit" formmethod="POST">Edit</button>
    
</form>



{% endblock %}