{% extends 'base.html' %}

{% block content %}

<h1>New post form!</h1>

<h3>Add Post for {{user.first_name}} {{user.last_name}}</h3>

<form>
    <p>Title: <input type="text" name="title"></p>  
    <p>Content: <input type="text" name="content"></p>

    {% for tag in tags %}
    <p><input type="checkbox" value="{{tag.id}}" name="check">{{tag.name}}</p>
    {% endfor %}


    <button formaction="/users/{{user.id}}" formmethod="GET">Cancel</button>
    <button formaction="/users/{{user.id}}/posts/new" formmethod="POST">Add</button>
</form>


{% endblock %}